.form {
  margin-top: 100px;
  display: grid;
  width: 30%;
}
.newTimerLabel {
  font-size: 1.5rem;
  font-weight: 600;
}
input {
  height: 60px;
  border: 2px solid black;
}
.createTimerButton {
  padding: 20px;
  font-size: large;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
